<!-- <h2>{{hero.name | uppercase}} Details</h2> -->
<!-- <div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->
<!-- <div>
    <label>
        name: -->
<!-- 虽然ngModel是一个有效的Angular指令，不过默认情况下不可用 -->
<!-- 它属于一个可选模块FormsModule，需要自行添加此模块 -->
<!-- <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
</div> -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>
<!-- [hero]="selectedHero" 是 Angular 的属性单向绑定语法。 -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->